<h1>New order <%= @order.id %> placed</h1>

<p>Hello <%= @admin.user.name.presence || @admin.user.email %>,</p>
<p>You have a new order that includes your products. Here are the details of the items you need to fulfill:</p>

<table cellpadding="6" cellspacing="0" border="1" style="border-collapse: collapse;">
  <thead>
    <tr>
      <th align="left">Product</th>
      <th align="right">Qty</th>
      <th align="right">Unit price</th>
      <th align="right">Line total</th>
    </tr>
  </thead>
  <tbody>
    <% @items_for_admin.each do |item| %>
      <tr>
        <td><%= item.product&.name %></td>
        <td align="right"><%= item.quantity %></td>
        <td align="right"><%= number_to_currency(item.price) %></td>
        <td align="right"><%= number_to_currency(item.price * item.quantity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  Customer: <%= @order.customer&.user&.name.presence || @order.customer&.user&.email %><br/>
  Order total: <%= number_to_currency(@order.calculate_total) %>
</p>

<p>Thank you.</p>
